<p id="notice"><%= notice %></p>

<h1>Material Brands</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @material_brands.each do |material_brand| %>
      <tr>
        <td><%= material_brand.name %></td>
        <td><%= material_brand.description %></td>
        <td><%= link_to 'Show', material_brand %></td>
        <td><%= link_to 'Edit', edit_material_brand_path(material_brand) %></td>
        <td><%= link_to 'Destroy', material_brand, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Material Brand', new_material_brand_path %>
